<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="CreateIssueTest" parallel="false">

    <test name="CreateIssueTest">

        <classes>
            <class name="CreateIssueTest"/>
        </classes>
    </test>

    <listeners>
        <listener class-name="utils.TestNJListeners"/>
    </listeners>

</suite>