version: 2.1
jobs:
  build:
    docker:
      - image: circleci/openjdk:8u222-stretch-browsers
    working_directory: ~/repo
    steps:
      - checkout
      - run:
          name: run tests
          command: |
            mvn clean install
            mvn clean test
      - store_artifacts:
          path: screenshots
          destination: screenshots
          when: always